@import url('https://fonts.googleapis.com/css?family=Gruppo');

//Main Colors
$font-primary: 'Gruppo', cursive;
$text-light-mode: rgba(0, 0, 0, 1);
$text-dark-mode: rgba(255, 255, 255, 1);
$glass-container: rgba(255,255,255,0.4);
$dark-container: rgb(255 255 255 / 20%);

@mixin inputs {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 0.4rem;
  background: linear-gradient(10deg, rgba(#fff, 0.1) 60%, rgba(#fff, 0.1) 100%);
  border: none;
  box-shadow: none;
  &:hover {
    box-shadow: inset 0 0 20px rgb(255, 255, 255);
  }
  &:active {
    background: white;
    color: $text-light-mode;
  }
  &:focus {
    background: white;
    box-shadow: none;
  }
}

@mixin forms {
  backdrop-filter: blur(10px);
  background: $glass-container;
  color: $text-light-mode;
  max-width: 25rem;
  height: auto;
  padding: 1rem 2rem;
  line-height: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  & h3 {
    text-align: center;
  }
  & p {
    font-size: 0.8rem;
    margin-bottom: 0;
    & a {
      text-decoration: none;
      &:hover {
        color: $text-light-mode;
      }
    }
  }
  & input {
    @include inputs;
  }
  & .btn {
    @include inputs;
    color: black;
    margin: 0.9rem;
    padding: 0.3rem 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  & .form-check {
    display: flex;
    align-items: center;
    & .form-check-input {
      margin-right: 0.5rem;
    }
  }
}

%background-behaviour {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background{
  @extend %background-behaviour;
  & div {
    @extend %background-behaviour;
    will-change: opacity;
  }
  .gradient-one{
    background: linear-gradient(180deg, #fae2bc 60%, #9bdaff 100%);
  }
  .gradient-two{
    background: linear-gradient(300deg, #f9c3f5 60%, #9bdaff 100%);
    animation: fade-one 6s linear infinite;
  }
  .gradient-three{
    background: linear-gradient(10deg, #bab2fc 60%, #9bdaff 100%);
    animation: fade-two 6s linear infinite;
  }
}
@keyframes fade-one {
  0% {
    opacity: 1; }
  33% {
    opacity: 1; }
  66% {
    opacity: 0; }
  100% {
    opacity: 0; }
}
@keyframes fade-two {
  0% {
    opacity: 1; }
  33% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; }
}

#sign-in {
  @include forms;
}

#sign-up {
  @include forms;
}

.page {
  display: none;
  &.active {
    display: block;
  }
}
